<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
 	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
 	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
 
  <link rel="stylesheet" type="text/css" href="/css/user.css">

<div class="container">
    <div class="container5">
    <div class="card">
        <div class="card-header">
            <h3>Forgot Password</h3>
        </div>
        <div class="card-body">
            <form action="/user/passwordForgot/<%= User.resetPasswordToken %>" method="POST">
                <i class="fa fa-key" aria-hidden="true" id="user1"></i>
                <input type="password" name="resetPassword" placeholder="Password" required id="username">
                <i class="fa fa-key" aria-hidden="true" id="user1"></i>
                <input type="password" name="repeatresetPassword" placeholder="Repeat Password" required id="username">
                <input type="Checkbox" name="checked" id="check">Remember Me</input>
                <span>
                    <input type="submit" value="Reset Password" id="content1">
                    <!-- <a class="btn" id="content1" href="#">Login</a> -->
                </span>

            </form>
        </div>
    </div>
</div>
</div>