<link rel="stylesheet" href="/css/reset.css">
<div id="reset-email">
    <form method="POST" id="form" action="/user/forgotPassword">
        <h1>
            Enter Your valid Mail For Password Reset
        </h1>
        <input type="email" name="email" id="email" placeholder="Enter Valid Mail" required>
        <input type="submit" id="button" value="Submit">
    </form>
</div>