<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
 	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
 	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
 
  <link rel="stylesheet" type="text/css" href="/css/user.css">
<div class="container">
    <div class="container5" style="margin-bottom: 100px;">
    <div class="card">
        <div class="card-header">
            <h3>Sign up</h3>
        </div>
        <div class="card-body">
            <form action="/user/create" method="POST">
            <input type="text" name="name" placeholder="Enter Name" required id="name">
            <input type="email" name="email" placeholder="Enter Email" required id="username1">
            <input type="text" name="city" placeholder="Enter city" required id="username1">
            <input type="date" name="date" placeholder="Enter Date" required id="username1">
            <input type="password" name="password" placeholder="Enter Password" required id="username1">
            <input type="password" name="rpassword" placeholder="Enter Repeat Password" required id="username1">
            <input type="Checkbox" name="checked" id="check">Remember Me</input>
            <span>
                <input type="submit" value="Sign Up" id="content1">
                <!-- <a class="btn" id="content1" href="#">Login</a> -->
            </span>

        </form>
        </div>
        <div class="card-footer" id="cfooter">
            <a href="/user/auth/google" id="content1">Google Sign up/Sign in</a></p>
            <p>You have an account?<a href="/user/login" style="color: lightcoral">Sign in</a></p>
        </div>
    </div>
</div>
</div>