#reset-email{
    margin-top: 20px;
    text-align: center;
        #email{
            width: 30%;
            padding: 10px 5px;
            color: cyan;
        }
        #button{
            background-color: darkorange;
            color: lightgray;
            padding: 10px 15px;
        }
    
}