.home {
  text-align: center; }

.profile {
  text-align: center; }

#head2 {
  text-align: center;
  padding-top: 35px;
  width: 100%; }
  #head2 a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    background-color: lightcoral; }
